html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
    line-height: 150%;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #ffffff;
    font-size: 38px;
}

h2 {
    color: #4aaaa5;
    font-size: 34px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color:  #cccccc;
    padding-bottom: 20px;
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
}

.page_wrap {
    width: 960px;
    margin: 0 auto;
}

header {
    background-color: #4aaaa5;
    border-color: #cccccc;
    float: left;
    padding: 40px 40px 40px 40px;
    margin-left: 25px;
    margin-top: -10px;
}

.top_menu {
    float: right;
    margin-top: 40px;
    text-align: right; 
}

.border {
    border-right-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    padding-right: 10px;
    padding-left: 10px;
}

#no_border {
    padding-left: 10px;
}

.top_menu a {
    color: #cccccc;
    text-decoration-line: none;
}

.top_menu a:hover {
    color: #4aaaa5;
    text-decoration-line: none;
}

.top_menu a:active {
    color: #4eeee5;
    text-decoration-line: none;
}

a {
    color: #4aaaa5;
    text-decoration-line: none;
}
.container {
    clear: both;
    overflow: auto;
    flex: 1 0 auto;
    background-image: url("../../assets/images/vintage_speckles.png");
    border-top-style: solid;
    border-top-color:  #dddddd;
    border-width: 2px;
    padding-left: 50px;
    padding-right: 30px;
}
.main_content {
    border-color: #dddddd;
    border-style: solid;
    border-width: 1px;
    padding: 20px 40px 20px 30px;
    margin: 30px 0 30px 0;
    background-color: #ffffff;
    overflow: auto;
}

.image-block {
    height: 960px;
    position: relative;
}

#bio_image {
    float: left;
    margin: 5px 15px 0px 0px;
    display: block;
}

#image1 {
    display: block;
    position: absolute;
    top: 5px;
}

#image2 {
    display: block;
    position: absolute;
    top: 5px;
    left: 375px;
}

#image3 {
    display: block;
    position: absolute;
    top: 325px;
}

#image4 {
    display: block;
    position: absolute;
    top: 325px;
    left: 375px;
}

#image5 {
    display: block;
    position: absolute;
    top: 650px;
}

#text {
    color: #ffffff;
    background-color: #4aaaa5;
    width: 350px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    z-index: 3;
    top: 220px;
}

#text2 {
    color: #ffffff;
    background-color: #4aaaa5;
    width: 350px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    z-index: 3;
    top: 220px;
    left: 375px;
}

#text3 {
    color: #ffffff;
    background-color: #4aaaa5;
    width: 350px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    z-index: 3;
    top: 540px;
}

#text4 {
    color: #ffffff;
    background-color: #4aaaa5;
    width: 350px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    z-index: 3;
    top: 540px;
    left: 375px;
}

#text5 {
    color: #ffffff;
    background-color: #4aaaa5;
    width: 350px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    z-index: 3;
    top: 865px;
}

#name {
    border-style: solid;
    border-width: 1px;
    border-color:#777777;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
}

#email {
    border-style: solid;
    border-width: 1px;
    border-color:#777777;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
}

#message {
    border-style: solid;
    border-width: 1px;
    border-color:#777777;
    margin-top: 5px;
    padding-left: 10px;
    min-height: 300px;
    width: auto;
    overflow: auto;
    margin-bottom: 10px;
}

#submit {
    color: #ffffff;
    background-color: #4aaaa5;
    width: 60px;
    padding: 5px 20px 5px 20px;
}

.footer {
    background-color: #666666;
    border-top: #4aaaa5 solid 8px;
    text-align: center;
    flex-shrink: 0;
    color: #cccccc;
}

/* Media Queries */
@media screen and (max-width: 980px) {
    .page_wrap {
        width: 100%;
        margin: 0 auto;
    }
    
    header {
        padding: 5px 0px 5px 0px;
        margin-left: 50px;
        margin-top: 0px;
        float: left;    
    }

    h1 {
         text-align: center;
         font-size: 2rem;
         margin: 10px 10px 10px 10px;
         padding: 0px 5px 2px 5px;
    }

    .top_menu {
        float: right;
        margin-top: 15px;
        text-align: right; 
        margin-right: 40px;
    }

    #image1 {
        display: block;
        position: absolute;
        top: 5px;
        width: 250px;
        height: 200px;
    }

    .main_container {
        width: 2px%;
    }
    
    #image2 {
        display: block;
        position: absolute;
        top: 5px;
        left: 375px;
        width: 250px;
        height: 200px;
    }
    
    #image3 {
        display: block;
        position: absolute;
        top: 325px;
    }
    
    #image4 {
        display: block;
        position: absolute;
        top: 325px;
        left: 375px;
    }
    
    #image5 {
        display: block;
        position: absolute;
        top: 650px;
    }
    
    #text {
        color: #ffffff;
        background-color: #4aaaa5;
        width: 250px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        position: absolute;
        z-index: 3;
        top: 220px;
    }
    
    #text2 {
        color: #ffffff;
        background-color: #4aaaa5;
        width: 350px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        position: absolute;
        z-index: 3;
        top: 220px;
        left: 375px;
    }
    
    #text3 {
        color: #ffffff;
        background-color: #4aaaa5;
        width: 350px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        position: absolute;
        z-index: 3;
        top: 540px;
    }
    
    #text4 {
        color: #ffffff;
        background-color: #4aaaa5;
        width: 350px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        position: absolute;
        z-index: 3;
        top: 540px;
        left: 375px;
    }
    
    #text5 {
        color: #ffffff;
        background-color: #4aaaa5;
        width: 350px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        position: absolute;
        z-index: 3;
        top: 865px;
    }

    #name {
        border-style: solid;
        border-width: 1px;
        border-color:#777777;
        margin-top: 5px;
        margin-bottom: 10px;
        padding-left: 10px;
    }
    
    #email {
        border-style: solid;
        border-width: 1px;
        border-color:#777777;
        margin-top: 5px;
        padding-left: 10px;
        margin-bottom: 10px;
    }
    
    #message {
        border-style: solid;
        border-width: 1px;
        border-color:#777777;
        margin-top: 5px;
        padding-left: 10px;
        min-height: 300px;
        width: auto;
        overflow: auto;
        margin-bottom: 10px;
    }
    
    #submit {
        color: #ffffff;
        background-color: #4aaaa5;
        width: 60px;
        padding: 5px 20px 5px 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    .page_wrap {
        width: 100%;
        margin: 0 auto;
    }

    header {
        padding: 5px 0px 5px 0px;
        margin-left: 50px;
        margin-top: 0px;
        float: left;    
    }

    h1 {
         text-align: center;
         font-size: 2rem;
         margin: 10px 10px 10px 10px;
         padding: 0px 5px 2px 5px;
    }

    .top_menu {
        text-align: center; 
        float: right;  
        margin-right: 30px;
    }

    .main_content {
        width: 90%;
        border-color: #dddddd;
        border-style: solid;
        border-width: 1px;
        padding: 20px 40px 20px 30px;
        margin: 30px 0 30px 0;
        background-color: #ffffff;
        overflow: auto;
    }

    #image1 {
        display: block;
        position: absolute;
        top: 5px;
        width: 275px;
        height: 225px;
    }
    
    #image2 {
        display: block;
        position: absolute;
        top: 5px;
        left: 345px;
        width: 275px;
        height: 225px;
    }
    
    #image3 {
        display: block;
        position: absolute;
        top: 325px;
        width: 275px;
        height: 225px;
    }
    
    #image4 {
        display: block;
        position: absolute;
        top: 325px;
        left: 345px;
        width: 275px;
        height: 225px;
    }
    
    #image5 {
        display: block;
        position: absolute;
        top: 650px;
        width: 275px;
        height: 225px;
    }
    
    #text {
        color: #ffffff;
        background-color: #4aaaa5;
        width: 275px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        position: absolute;
        z-index: 3;
        top: 165px;
    }
    
    #text2 {
        color: #ffffff;
        background-color: #4aaaa5;
        width: 275px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        position: absolute;
        z-index: 3;
        top: 165px;
        left: 345px;
    }
    
    #text3 {
        color: #ffffff;
        background-color: #4aaaa5;
        width: 275px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        position: absolute;
        z-index: 3;
        top: 490px;
    }
    
    #text4 {
        color: #ffffff;
        background-color: #4aaaa5;
        width: 275px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        position: absolute;
        z-index: 3;
        top: 490px;
        left: 345px;
    }
    
    #text5 {
        color: #ffffff;
        background-color: #4aaaa5;
        width: 275px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        position: absolute;
        z-index: 3;
        top: 810px;
    }

    #name {
        border-style: solid;
        border-width: 1px;
        border-color:#777777;
        margin-top: 5px;
        margin-bottom: 10px;
        padding-left: 10px;
    }
    
    #email {
        border-style: solid;
        border-width: 1px;
        border-color:#777777;
        margin-top: 5px;
        padding-left: 10px;
        margin-bottom: 10px;
    }
    
    #message {
        border-style: solid;
        border-width: 1px;
        border-color:#777777;
        margin-top: 5px;
        padding-left: 10px;
        min-height: 300px;
        width: auto;
        overflow: auto;
        margin-bottom: 10px;
    }
    
    #submit {
        color: #ffffff;
        background-color: #4aaaa5;
        width: 60px;
        padding: 5px 20px 5px 20px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 640px) {
    body {
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        font-size: 1.25rem;
        height: 105%;
    }
    
    .page_wrap {
        width: 100%;
        margin: 0 auto;
    }

    .container {
        padding: 0px 5px 0px 5px;
        margin: 10px 0px 0px 0px;
    } 

    .main_container {
        height: 105%;
        width: 0%;
        margin-right: 5px;
        padding-right: 10px;
    }

    header {
        width: 102%;
        padding: 10px 0px 10px 0px;
        margin-left: 0px;
        margin-top: -30px;
        float: none;    
    }

     h1 {
         text-align: center;
         font-size: 2rem;
         margin: 15px 0 15px 0px;
         padding-top: 20px;
         width: 100%;
    }

    .top_menu {
        text-align: center; 
        float: none;
        padding-top: 5px;
        margin-bottom: 5px;    
    }

    .image-block {
        width: 90%;
        position: relative;
       
    }

    #image1 {
        display: block;
        position: absolute;
        top: 5px;
        width: 350px;
        height: 300px;
    }

    #text {
        color: #ffffff;
        background-color: #4aaaa5;
        width: 350px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        position: absolute;
        z-index: 3;
        top: 220px;
    }
    
    #image2 {
        display: block;
        position: absolute;
        top: 325px;
        left: 0px;
        width: 350px;
        height: 300px;
    }

    #text2 {
        color: #ffffff;
        background-color: #4aaaa5;
        width: 350px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        position: absolute;
        z-index: 3;
        top: 540px;
        left: 0px;
    }
    
    #image3 {
        display: block;
        position: absolute;
        top: 650px;
        width: 350px;
        height: 300px;
    }

    #text3 {
        color: #ffffff;
        background-color: #4aaaa5;
        width: 350px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        position: absolute;
        z-index: 3;
        top: 865px;
    }
    
    #image4 {
        display: block;
        position: absolute;
        top: 975px;
        left: 0px;
        width: 350px;
        height: 300px;
    }

    #text4 {
        color: #ffffff;
        background-color: #4aaaa5;
        width: 350px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        position: absolute;
        z-index: 3;
        top: 1200px;
        left: 0px;
    }
    
    #image5 {
        display: block;
        position: absolute;
        top: 1295px;
        margin-bottom: 2rem;
        width: 350px;
        height: 300px;
    } 
    
    #text5 {
        color: #ffffff;
        background-color: #4aaaa5;
        width: 350px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        position: absolute;
        z-index: 3;
        top: 1520px;
    }

    #name {
        border-style: solid;
        border-width: 1px;
        border-color:#777777;
        margin-top: 5px;
        margin-bottom: 10px;
        padding-left: 10px;
    }
    
    #email {
        border-style: solid;
        border-width: 1px;
        border-color:#777777;
        margin-top: 5px;
        padding-left: 10px;
        margin-bottom: 10px;
    }
    
    #message {
        border-style: solid;
        border-width: 1px;
        border-color:#777777;
        margin-top: 5px;
        padding-left: 10px;
        min-height: 300px;
        width: auto;
        overflow: auto;
        margin-bottom: 10px;
    }
    
    #submit {
        color: #ffffff;
        background-color: #4aaaa5;
        width: 60px;
        padding: 5px 20px 5px 20px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}
